@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Lexend+Exa&family=Rubik+Mono+One&display=swap');
body {
    /* background-color: rgb(136, 239, 237); */
}

h1{
    text-align: center;
    font-family: 'Faster One', cursive;
    font-size: 100px;
    background-color: rgb(136, 239, 237);
    padding: 50px;
    margin: 0;

}
.lastFive {
    text-align: center;
    font-size: x-large;
    font-family: 'Lexend Exa', sans-serif;
}

.latest {
    font-size: 15px;
}
