/* Google Font API */
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Lexend+Exa&family=Rubik+Mono+One&display=swap');

/* Body Styling with Border Color */
body {
    background-color: rgb(215, 252, 251);
    font-family: 'Lexend Exa', sans-serif;
    border: 30px solid rgb(219, 134, 134);
    padding: 30px;
}

/* Image Source: https://pixabay.com/photos/earthquake-seismograph-seismic-wave-3167693/  */
header {
    width: 100%;
    border: solid rgb(219, 134, 134);
    position: relative;
}

/* Shooketh to the Core */
header h1 {
    text-align: center;
    font:8vw 'Faster One', cursive;
    text-shadow: 3px 3px rgb(219, 134, 134);
    position: absolute;
    z-index: 1;
}

header img {
    height: auto;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}

/* 5 Most Recent Rumbles */
h2 {
    text-align: center;
    font-size: 40px;
    line-height: 1px;
    vertical-align: text-top;
    padding: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Did You Feel That? */
h3 {
    text-transform: uppercase;
    text-align: center;
    box-shadow: lightgrey;
    font-size: x-large;
    padding: 1rem;
    vertical-align: text-top;
    font-weight: bold;
    border-bottom: dotted rgb(219, 134, 134);
    margin: 1rem 0 1rem 0;

}

/* Learn more about earthquakes that happened ANYWHERE! */
h4 {
    text-align: center;
    margin: 1rem 0 1rem 0;
    font-size: large;
}

/* Search Query Criteria */
p {
    margin-bottom: 2px;
}

/* Search Query for Date */
em {
    font-size: medium;
}

/* Most Recent Rumbles Styling*/
.lastFive {
    text-align: center;
    font-size: x-large;
    text-shadow: 2px 2px 7px lightgrey;
    padding: 5px;
    font-size: 30px;
    background-color: rgb(215, 252, 251);
    margin-left: 30px;
}

/* Query Instructions styling */
.queryInstructions {
    font-size: medium;
}

/* button styling*/
.button {
    position: relative;
    background-color: #b3c0b4;
    border: none;
    font-size: 18px;
    color: rgb(242, 254, 254);
    padding: 1px;
    width: 100px;
    height: 40px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.quakeQuery, .quakeResults {
    text-align: left;
    padding: 20px;
    font-size: 20px;
    background-color: whitesmoke;
    box-sizing: border-box;
    border: solid rgb(219, 134, 134);
    height: 650px;
    margin: 0 0 0.75rem 0;
}

/* Search Results*/
.quakeResults {
    height: auto;
}

/* Most Recent Rumbles */
.latest {
    font-size: 17px;
    text-align: center;
    padding-bottom: 20px;
}

/* Search, Start Over Button Spacing */
.row {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

/* Results from Google Map API */
#map {
    height: 650px;
    border: solid rgb(219,134,134);
    width: 100%;
}

/* Footer */
footer {
    border: solid rgb(219,134,134);
    color:  rgb(121, 158, 157);
    background-color: whitesmoke;
    text-align: center;
    height: 50px;
    padding: 20px;
}

/* Return Result Styling */
.dataLabel {
    font-weight: bold;
    text-decoration: underline;
}
